<h1> Sweets Show Page </h1>

<h2> Sweet Name </h2>
<%= @sweet.name %>

<br>

<h2> Vendors </h2>
<ul>
<% @sweet.vendors.each do |vendor|%>
<li><%= link_to vendor.name, vendor_path(vendor) %></li>
<% end %>
</ul>

